{{> navBar}}
<br>
<h1>Pet Page</h1>
<br>

<div class="outside-div">
    <div class="border-divider">
        <img class="icon-img-post" src="{{foundPet.iconImage}}" alt="icon-image">
        <hr>
        <div>
            <span class="span-color">Name: </span><span>{{foundPet.name}}</span><br>
            <span class="span-color">Breed: </span><span>{{foundPet.breed}}</span><br>
            <span class="span-color">Gender: </span><span>{{foundPet.gender}}</span><br>
            <span class="span-color">Age: </span><span>{{foundPet.age}}</span><br>
            <span class="span-color">Pet's Bio: </span><span>{{foundPet.petBio}}</span>
            <br><br>
            <a href="/home/edit-pet/{{foundPet._id}}" class="home-btns">Edit pet info</a>
            <a href="/home/delete-pet/{{foundPet._id}}" class="home-btns">Remove Pet</a>
        </div>
        <hr>
    </div>
</div>


<br><br>
<a href="/home/new-post/{{foundPet._id}}" class="add-pet">Add Post</a>

<div class="posts-order">
    {{#each foundPosts}}
        <div class="posts-outside-div">
            <div class="posts-div-border">
                <img class="posts-img-post" src="{{postImage}}" alt="post-image">
                <h3>{{description}}</h3>
                <div>
                    <a href="/home/edit-post/{{_id}}" class="home-btns">Edit Post</a>
                    <a href="/home/delete-post/{{_id}}" class="home-btns">Delete Post</a>
                </div>
                <br>
            </div>

            <div class="posts-div-border">
                <details>
                    <summary>Comments</summary>

                    <form class="form-size" action="/home/add-comment/{{_id}}/{{pet._id}}" method="post">
                        <input class="new-comment" type="text" name="comment">
                        <button class="new-comment-btn" type="submit"><h3>Comment</h3></button>
                    </form>

                    {{#if comments}}                   
                        {{#each comments}}      
                            <h3 class="mar">{{comment}}</h3>
                        {{/each}}
                    {{else}}
                        <p>No Reviews yet</p>
                    {{/if}}
                </details>
            </div>
            
        </div>

        <br><br>
    {{/each}}
</div>